@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";
@import "retina";

// BASE
[class*="span"] {
	.box-sizing(border-box);
}
body {
	color: #323334;
	background: url('../images/bg.png') repeat;
}

p {
	line-height: 1.8em;
}

// LAYOUT
.page-header {
	font-family: "PT Sans", sans-serif;
	text-align: center;
	margin: 40px 0 20px;
	border: none;
 	-webkit-animation: appear-from-top 1s;
 	-moz-animation: appear-from-top 1s;
 	-o-animation: appear-from-top 1s;
 	animation: appear-from-top 1s;

	h1 {
		margin-bottom: 0;
		font-weight: normal;

		a {
			background-repeat: no-repeat;
			.at2x('../images/baby.png', 50px, 50px);
		  // background: url('../images/baby.png') left center no-repeat;
		  padding-left: 50px;
			color: #323334;
		}
		a:hover {
			text-decoration: none;
		}
	}
}

#main {
	background: #FFF;
	padding: 20px;
	.border-radius(5px);
}

.example {
	margin-bottom: 20px;
}

footer {
	// margin-top: 20px;

	.container {
		padding: 10px 0;
		// border-top: 1px solid #323334;	
	}
}

// THE STYLE
.well p {
	margin: 0;
	
	small {
		margin-left: 15px;
	}
}

.code-style {
	display: block;
	font-family: monospace, sans-serif;
}

.social-buttons {
	li {
		float: left;
		width: 110px;
	}
}

.credits {
	.clearfix();
	margin-top: 2em;

	li {
		float: left;
		width: 215px;
		margin-right: 10px;
	}
}

.label-android {
	background: darken(#a4c639, 1%);
}

.label-placekitten {
	background: #76D32B;
}

// HELPERS
.fl { float: left;}
.fr { float: right;}

// ANIMATION
@-webkit-keyframes appear-from-top {
	0% {
		.translate(0, -20px);
		opacity: 0;
	}
	100% {
		.translate(0, 0);
		opacity: 1;
	}
}

@-moz-keyframes appear-from-top {
	0% {
		.translate(0, -20px);
		opacity: 0;
	}
	100% {
		.translate(0, 0);
		opacity: 1;
	}
}

@-o-keyframes appear-from-top {
	0% {
		.translate(0, -20px);
		opacity: 0;
	}
	100% {
		.translate(0, 0);
		opacity: 1;
	}
}

@keyframes appear-from-top {
	0% {
		.translate(0, -20px);
		opacity: 0;
	}
	100% {
		.translate(0, 0);
		opacity: 1;
	}
}


// MEDIA QUERIES
@media (max-width: 980px) {
	body {
		font-size: 0.8em;
		padding-left: 20px;
		padding-right: 20px;
	}

	.row, .row-fluid {
		margin: 0;
	}

	[class*="span"] {
		width: auto;
		float: none;
		margin: 0;
	}

  .container {
    width: auto;
  }

	.credits {
		li {
			width: 24%;
			margin-right: 1%;
		}
		p {
			font-size: 0.9em;
		}
	}
}

@media (max-width: 778px) {
	.row-fluid [class*="span"] {
		width: auto;
		float: none;
		margin: 0;
	}

	.example img {
		width: 100%;
	}
}

@media (max-width: 480px) {
	#main {
		padding: 10px;
	}

	.social-buttons {
		li {
			width: 90px;
		}
	}

	.container {
		padding: 0;
	}

	.github-ribbon {
		height: 100px;
	}

	.credits li {
		width: 48%;
		margin-right: 2%;
	}

	.well {
		padding: 12px;
		margin-bottom: 10px;
	}

	.code-style {
		width: 100%;
	}

	footer {
		font-size: 0.9em;
		p {
			line-height: 2.2em;		
		}
	}

}

@media (max-width: 380px) {
	.well {
		font-size: 10px;
		font-size: 2.9vw;
	}
}